 
 /* Index.html file */

 /* Logo */

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;


    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4D5AE5;
}

body {
font-family: Roboto, sans-serif;
color: #434455;
}

/* Main navigation */

.link {
    background-color: #FFFFFF;
    text-decoration: none;
}

.link a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    color: #2E2F42;
}

.secondary-link a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #434455;
    background-color: #FFFFFF;
}
    
/* Hover and focus */

.contacts {
    color: #2E2F42;
}

.contacts:hover {
    color: #4D5AE5;
}

.contacts:focus {
    color: #4D5AE5;
}
.link .contacts:focus {
    color: #4D5AE5;
}

.secondary-link:focus {
    color: #4D5AE5;
}

.main-pointer {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;

    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-items: center;

    background-color: #4D5AE5;
 }

.main-pointer:hover {
    background-color: #404BBF;
}

.main-pointer:focus {
    background-color: #404BBF;
}

 

.hero {
    background-color: #2E2F42;
}

.buttom .contacts:focus {
    color: #4D5AE5;
}

.hero-logo {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}


/* Feauters section */

.text h3 { 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.text p {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02;

    color: #434455;
}

.text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

/* Page footer */

.secondary-text {
    background-color: #F4F4FD;
}

.img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.secondary-text h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.secondary-text h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.secondary-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

.bottom {
    background-color: #2E2F42;
}

.bottom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #E7E9FC;
}

.thirdly-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1;


    letter-spacing: 0.03em;
text-transform: uppercase;

    color: #F4F4FD;
}

/* Portfolio.html */


/* Main navigation */

.pointer { 
    box-sizing: border-box;
    align-items: center;
    
    width: 116px;
    height: 48px;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4D5AE5;
    background-color: #F4F4FD;
}

.pointer:hover {
    background-color: #4D5AE5;
}

.pointer:focus {
    background-color: #4D5AE5;
}

.pointer { cursor: pointer; } 



